Repository martinkilmartin/poker-planning: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test -- --run --changed

.lintstagedrc.json:

{
  "*.{ts,vue}": ["prettier --write", "npm run test -- --run --changed"],
  "*.{json,md}": ["prettier --write"]
}

chore: enhance test type safety and clean up unused variables/imports
  src/__tests__/mocks/peerjs.ts
  src/components/__tests__/Toast.test.ts
  src/composables/__tests__/useGame.test.ts
  src/utils/__tests__/router.test.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@edabe1a9f57d53110d52fb8f3645291aa16abaf6 🚀
  assets/index-DHsCJKz_.css
  assets/index-FGbvbjgG.css
  assets/index-bKPp_8fp.js
  index.html
Due: none

Unicorn level linting
  .lintstagedrc.json
  .vite/deps/vue.js
  eslint.config.js
  package-lock.json
  package.json
  src/__mocks__/peerjs.ts
  src/__tests__/mocks/peerjs.ts
  src/components/LandingPage.vue
  src/components/RoomPage.vue
  src/composables/useGame.ts
  src/composables/usePeer.ts
  src/utils/__tests__/router.test.ts
  src/utils/router.ts
  src/utils/session.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@62aa742a8dc3ae900f7eee9e4b0307cade05d925 🚀
  assets/index-C2athrd2.css
  assets/index-DHsCJKz_.css
  assets/index-NNZZIAby.js
  assets/index-bKPp_8fp.js
  index.html
Due: none

feat: Persist and reuse in room state to maintain consistent identity during rejoining.
  src/components/LandingPage.vue
  src/composables/useGame.ts
  src/utils/__tests__/router.test.ts
  src/utils/router.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@d645dbe158832f43e0885bbf37fef895b473bac6 🚀
  assets/index-C2athrd2.css
  assets/index-CGgLfLVF.css
  assets/index-CzQ5TYDt.js
  assets/index-NNZZIAby.js
  index.html
Due: none

chore: Configure linguist to exclude build artifacts from language stats
  .gitattributes
Due: none

fix: Implement stable userId system to prevent duplicate users on refresh
  src/components/LandingPage.vue
  src/composables/__tests__/useGame.test.ts
  src/composables/useGame.ts
  src/types.ts
  src/utils/__tests__/router.test.ts
  src/utils/router.ts
  src/utils/userId.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@35e6849dec0a116c154541bdee9d3414a6995ef5 🚀
  assets/index-CGgLfLVF.css
  assets/index-CzQ5TYDt.js
  assets/index-DFDI9l0Q.css
  assets/index-Eel5MsdQ.js
  index.html
Due: none

style: Apply Air Canada brand colors with soft off-white background
  src/style.css
Due: none

style: Add Canadian maple leaf to card backs with Air Canada theme
  src/components/RoomPage.vue
Due: prettier --write, npm run test -- --run --changed

feat: Add table layout and animated thinking cards
  src/components/RoomPage.vue
Due: prettier --write, npm run test -- --run --changed

fix: Remove table layout and add mobile responsive styling
  src/components/RoomPage.vue
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@0181c2acd9dbd10166b6695c71fded88afd6096e 🚀
  assets/index-DFDI9l0Q.css
  assets/index-Ju6p8xDe.css
  assets/index-KiHvK69f.js
  index.html
Due: none

fix: Improve mobile scrolling behavior
  src/components/RoomPage.vue
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@6d5f3a0a7681ea17715c698e72a709674af88a45 🚀
  assets/index-Dmvqzq2_.js
  assets/index-Ju6p8xDe.css
  assets/index-bato2Kd-.css
  index.html
Due: none

feat: Implement Auto-Reveal Countdown
  src/components/RoomPage.vue
  src/composables/useGame.ts
  src/types.ts
  src/utils/__tests__/router.test.ts
  src/utils/router.ts
Due: prettier --write, npm run test -- --run --changed

feat: Implement Manual Host Transfer
  src/components/RoomPage.vue
  src/composables/useGame.ts
Due: prettier --write, npm run test -- --run --changed

fix: Resolve Host Transfer Persistence and Join Sync Issues
  src/components/LandingPage.vue
  src/composables/useGame.ts
  src/utils/__tests__/router.test.ts
  src/utils/router.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@0f304a9ed17d8918c514cb693297af7597fabded 🚀
  assets/index-B_0oRDld.js
  assets/index-Dmvqzq2_.js
  assets/index-USwasnVg.css
  assets/index-bato2Kd-.css
  index.html
Due: none

feat: Highlight current user in player list
  src/components/RoomPage.vue
  src/composables/useGame.ts
Due: prettier --write, npm run test -- --run --changed

feat: Implement periodic state heartbeat for improved sync
  src/composables/useGame.ts
Due: prettier --write, npm run test -- --run --changed

fix: Host transfer persistence and Server logic
  src/components/LandingPage.vue
  src/composables/__tests__/useGame.test.ts
  src/composables/useGame.ts
  src/utils/__tests__/router.test.ts
  src/utils/router.ts
Due: prettier --write, npm run test -- --run --changed

fix: Move isServer to global scope in useGame.ts
  src/composables/useGame.ts
Due: prettier --write, npm run test -- --run --changed

perf: Increase state heartbeat interval to 5s
  src/composables/useGame.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@66deef3b54859ea6fa52ce712c7f8dae986a1f24 🚀
  assets/index-B_0oRDld.js
  assets/index-C7QezK8I.css
  assets/index-DXUAp-Qg.js
  assets/index-USwasnVg.css
  index.html
Due: none

feat: Implement Playwright for end-to-end testing and enhance form input accessibility
  .gitignore
  .husky/pre-push
  package-lock.json
  package.json
  playwright-report/index.html
  playwright.config.ts
  src/components/LandingPage.vue
  test-results/.last-run.json
  tests/e2e.spec.ts
  vitest.config.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@3a8cbe5f3981187e211c36ceefd31b7ae49f4a1a 🚀
  assets/index-C4imaI6W.css
  assets/index-C7QezK8I.css
  assets/index-CLWIYKRW.js
  index.html
Due: none

[200~chore: Update .gitignore to refine Playwright report ignoring and add test results metadata
  .gitignore
Due: none

chore: Remove Playwright test report and results files.
  playwright-report/index.html
  test-results/.last-run.json
Due: prettier --write

chore: Ignore `debug-load.png` in `.gitignore`.
  .gitignore
Due: none

feat: Implement host role claiming for clients rejoining a room when the original host is unresponsive, adding unit tests and removing existing E2E tests
  .gitignore
  debug-load.png
  playwright.config.ts
  src/composables/__tests__/useGame.test.ts
  src/composables/useGame.ts
  tests/e2e.spec.ts
Due: prettier --write, npm run test -- --run --changed

Deploying to gh-pages from @ martinkilmartin/poker-planning@f430bf7b02156e586f7eedb7c37c3d69c011ff0b 🚀
  assets/index-CLWIYKRW.js
  assets/index-CWHdnU7i.js
  index.html
Due: none

test: Add a second web server to Playwright configuration and remove player disconnect detection logic.
  playwright.config.ts
  src/composables/useGame.ts
Due: prettier --write, npm run test -- --run --changed
